.btn_more{
  max-width: 600px;
  min-width: 150px;
  border: none;
  border-radius: 15px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 15px;
  padding: 10px 50px;
  margin: 50px 0;
  background-color: #db3b3b;
  color: #fff;
  cursor: pointer;
  transition: all 300ms;
}

.btn_more:hover{
  transform: scale(1.01);
  background-color: #e15656;
  color: #ececec;
}

.btn_more:active{
  transition: 400ms;
  transform: scale(1.01);
  background-color: #ececec;
  color: #e15656;
}