@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.card{
  max-width: 100%;
  width: 280px;
  min-width: 150px;
  margin: 5px;
  perspective: 700px;
  padding: 15px;
  cursor: pointer;
  transition: all 300ms;
}

.card:hover{
  transform: scale(1.03);
}

img{
  width: 100%;
  background-color: #efefef;
}

.text h2::first-letter{
  font-family: 'Bebas Neue', cursive;
}


.text h2::first-letter{
  text-transform: uppercase;
}

.type{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.type span{
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 3px;
  font-size: 12px;
}

.type .fire{background-color: #ff0000;color: #fff;}
.type .water{background-color: #4592c4;}
.type .grass{background-color: #90ee90;}
.type .electric{background-color: #ffff00;}
.type .fighting{background-color: #daa520;color: #fff;}
.type .ice {background-color: #DAE4E9;}
.type .psychic{background-color: #006400;color: #fff;}
.type .poison{background-color: #b97fc9;color: #fff;}
.type .normal{background-color: #964b00;color: #fff;}
.type .dark{background-color: #1b1e23;color: #fff;}
.type .ground{background-color: #e2725b;}
.type .steel{background-color: #b5b8b1;}
.type .rock{background-color: #65645D;color: #fff;}
.type .bug{background-color: #ff6961;}
.type .flying{background-color: #add8e6;}
.type .ghost{background-color: #c8a2c8;}
.type .dragon{background-color: #ff7f00;color: #fff;}
.type .fairy{background-color: #ffcbdb;}
