*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 99vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 89, 89);
}
.App div.filho{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
}

.search{
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: aliceblue;
}

.search input{
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.search button.btn_search{
  font-size: 1.2em;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff5959;
  margin-bottom: 15px;
}
.search button.btn_search:hover{
  color: #ffffff;
}