*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.App > div{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

button{
  width: 500px;
  height: 100px;
  border-radius: 50px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  cursor: pointer;
  margin: auto;
}